/* GENERAL */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LINKS */

a {
  color: black;
}

a:visited {
  color: initial;
}

a.social {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 4px;
  margin: 0;
}

a.social:hover {
  color: white;
  background: black;
}

a.item-show {
  border: 1px solid black;
  color: black;
  font-size: 18px;
  padding: 8px;
  margin: 4px 4px 0 0;
  text-decoration: none;
}

a.item-show:hover {
  border: 1px solid black;
  color: white;
  background: black;
}

/* BANNER */

#banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  background: rgb(250, 250, 250);
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 1em 0;
  padding: 8px 12px;
  border-bottom: 1px solid rgb(100, 100, 100);
}

#title {
  margin-right: 6px;
}

#detail {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
}

/* CONTAINERS */

.container {
  padding: 0;
  margin: 1em 0em;
  border: 1px solid black;
  border-radius: 10px;
  width: 60vw;
  box-shadow: 1px 12px 12px grey;
}

.container-items {
  padding: 8px;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 18px;
}

#player {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0.4em;
}

.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-date {
  font-size: 32px;
  color: black;
  background: none;
  font-weight: 600;
  padding: 4px;
  margin: 8px 4px 0px 0;
  display: block;
  border: 1px dashed black;
  border-bottom: none;
  border-right: none;
  width: 100%;
}

.item-time {
  background: black;
  color: white;
  font-size: 18px;
  padding: 8px;
  margin: 4px 0 0 0;
  border: 1px solid black;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid black;
  margin: 0px 5px;
}

.section-header p {
  color: black;
  display: inline-block;
  padding: 3px;
  margin: 0;
}

audio {
  width: 100%;
}

#blog-content {
  padding: 8px;
}

#first-container {
  margin-top: 0;
}

#last-container {
  margin-bottom: 2em;
}

.last {
  border-bottom: none;
}

.left {
  text-align: left;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

/* FOOTER */

p.footer {
  font-size: 12px;
  text-align: center;
  border-top: 1px solid rgb(100, 100, 100);
  padding: 5px;
}

/* RESPONSIVE */

@media (max-width: 800px) {
  .container {
    padding: 0;
    margin: 1em 0em;
    border: 1px solid black;
    border-radius: 10px;
    width: 90vw;
  }
  table {
    width: 90vw;
  }
  #footer {
    width: 90vw;
  }
  .hide {
    display: none;
  }
  #title {
    font-size: 18px;
  }
}
